
body {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 20px;
  background-color: #fff;

  margin-top: -20px;
}

#welcome {
  height: 600px;
  background-image: url("./images/portrait.jpg");
  background-size: 1200px 500px;
  background-position: fixed;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

h2 { font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  color: #727272;
  padding-top: 50px;
}



p { font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px; l
    line-height: 30px;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word; }

#bio {
    padding: 50px 0 0 60px;
    width: 500px;
    line-height: 25px;

  }

  #bio p{
    padding: 30px;
    border-radius: 5px;
    font-weight: lighter;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    letter-spacing: 0.5px;
  }

#bio a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px dotted #fff;
}

#bio a:hover {
  color: #ededed;
  text-shadow: 1px 1px 1px 1px #fff;
}

h1 {
    padding: 50px 0 0 65px;
    color: #fff;
    font-weight: lighter;
    letter-spacing: 1.5px;
    font-size: 40px;
    text-shadow: 1px 1px 0 #000;
}

#socialmedia li, #projects li, #contact li {
    list-style-type: none;
    display: inline;
}

#socialmedia {
    text-align: center;
    padding-top: 20px;
    background-color: #fff;
  }


#contact{
    text-align: center;
    letter-spacing: 1px;
}

#projects {

    background-color: #fff;
    color: #727272;
    display: flex;
    justify-content: center;
    padding-top: 50px;

}

#projects li{
    display: inline;
    float: left;
    margin-right: 50px;
}


#projects h2 {
    text-align: center;
    padding-top: 100px;
}
#projects h3 {
    font-size: 15px;
    text-align: center;
}
#projects img {
    width: 250px;
    margin-top: 15px;
}

#socialmedia img {
  width: 40px;
  margin-right: 15px;
}
#socialmedia li {
  padding: 20px;
  float: none;
}

#socialmedia {
  padding-top: 40px;
  background-color:#fff;
  margin-bottom: 20px;
}
.credit  {
  font-size: 10px;
  text-align: center;
  color: #9e9e9e;
  padding-top: 40px;
  letter-spacing: 0.75px;
}

#contact  {
  font-size: 16px;
  padding: 10px;
  letter-spacing: 1px;
  background-color: #fff;
  color: #727272;
  margin-top: 20px;

}

@media only screen and (max-width: 320px) {


  #welcome {

    background-size: 320px;

  }

  #bio {
    width: 300x;
    font-size: 13px;
  }

  projects li {
    margin-right: 0;
  }

#projects ul{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;

}
#socialmedia img{
  width: 20px;
}
}
